<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <!-- <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div> -->
</div>
<div class="container-fluid mt--7">
  <div>
    <!-- <div class=""> -->
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">View posting</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Job details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Job title</label>
                    <input [value]="getOpeningData.title" type="text" id="input-title" disabled class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Job summary</label>
                    <input [value]="getOpeningData.jobSummary" disabled type="text" id="input-department" class="form-control form-control-alternative" placeholder="Department" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Job description</label>
                    <textarea [value]="getOpeningData.jobDesc" disabled class="form-control" id="input-job-description" rows="3" placeholder="Job profile here ..."></textarea>
                    <!-- <input type="textarea" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse"> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">Posted on</label>
                    <input [value]="getOpeningData.postedOn" disabled type="date" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Location</label>
                    <input disabled type="text" id="input-department" class="form-control form-control-alternative" placeholder="Location" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">No. of Openings</label>
                    <input disabled type="number" id="input-openings" class="form-control form-control-alternative" placeholder="Experience" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Hiring Manager (Optional)</label>
                    <input disabled type="text" id="input-hiring-manager" class="form-control form-control-alternative" placeholder="Budget" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">Experience</label>
                    <input [value]="getOpeningData.experience" disabled type="text" id="input-experience" class="form-control form-control-alternative" placeholder="Experience" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Budget (INR)</label>
                    <input disabled type="number" id="input-budget" class="form-control form-control-alternative" placeholder="Budget" value="lucky.jesse">
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="mt-5">
    <app-referral-table></app-referral-table>
  </div>
</div>


