<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <!-- <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div> -->
</div>
<div class="container-fluid mt--7">
  <div>
    <!-- <div class=""> -->
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add new posting</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-primary">Save</a>

            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Job details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Job title</label>
                    <input type="text" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Department</label>
                    <input type="text" id="input-department" class="form-control form-control-alternative" placeholder="Department" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Job description</label>
                    <textarea class="form-control" id="input-job-description" rows="3" placeholder="Job profile here ..."></textarea>
                    <!-- <input type="textarea" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse"> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">Recruitment period</label>
                    <input type="date" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Location</label>
                    <input type="text" id="input-department" class="form-control form-control-alternative" placeholder="Location" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">No. of Openings</label>
                    <input type="number" id="input-openings" class="form-control form-control-alternative" placeholder="Experience" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Hiring Manager (Optional)</label>
                    <input type="text" id="input-hiring-manager" class="form-control form-control-alternative" placeholder="Budget" value="lucky.jesse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-period">Experience</label>
                    <input type="text" id="input-experience" class="form-control form-control-alternative" placeholder="Experience" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-location">Budget (INR)</label>
                    <input type="number" id="input-budget" class="form-control form-control-alternative" placeholder="Budget" value="lucky.jesse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
